html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

header p {
    margin: 10px 0 0;
}

main {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
    margin-top: 0px;
    margin-bottom: 20px;
}

form label {
    display: block;
    color: #007bff;
    font-size: 25px;
    font-weight: bold;
}

h1 { margin-top: 0; }

h2 {
    color: #007bff;
    margin-top: 20px;
    margin-bottom: 0px;
}


input[type="file"], select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 14px;
    color: white;
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

button:hover { background-color: #0056b3; }

#hex-list {
    max-width: 800px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 3px;
    list-style-type: none;
    margin-top: 0px;
}

#hex-list li {
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#hex-list li:last-child {
    margin-bottom: 0;
}

#hex-list li:hover { background-color: #f2f2f2; }

#hex-list li.selected {
    background-color: #4CAF50;
    color: white;
}

#hex-list li .file-info {
    display: flex;
    align-items: center;
}

#hex-list li .file-icon { margin-right: 10px; }

#hex-list li .file-name {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14px;
}